<div class="card init">
  <div class="card-body">
      <h5 class="card-title">Uno Score Counter</h5>
      <h6 class="card-subtitle">Fill the fields to start the game</h6>
      <div class="mt-3">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="needPointsToWinAddon">Points to win</span>
              </div>
              <input #needPointsToWinInput value="{{needToWin$ | async}}" type="number" step=50 class="form-control" aria-label="needPointsToWin" aria-describedby="needPointsToWinAddon">
          </div>
          <div [ngSwitch]="(players$ | async)?.length < 10">
            <div class="input-group" *ngSwitchCase="true">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="playerNameAddon">Player Name</span>
                </div>
                <input #playerNameTextBox type="text"
                  class="form-control" aria-label="playerName"
                  aria-describedby="playerNameAddon"
                  (keyup.enter)="addPlayer(playerNameTextBox.value); playerNameTextBox.value = ''">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="addPlayer(playerNameTextBox.value)">Add</button>
                </div>
            </div>
            <div *ngSwitchCase="false">
                You have reach the maximum number of players
            </div>
          </div>
      </div>
      <div *ngIf="(players$ | async)?.length > 0" class="mt-3">
          <h6>Registered players:</h6>
          <div class="d-flex align-content-start flex-wrap">
              <h5 *ngFor="let player of (players$ | async)" class="mr-1">
                <app-player-badge [player]="player"></app-player-badge>
              </h5>
          </div>
      </div>
      <a routerLink="/status" class="btn btn-primary w-100 mt-3" *ngIf="readyToPlay$ | async">Start the game</a>
  </div>
</div>
