<div class="card status">
  <div class="card-body">
      <h5 class="card-title">Uno Score Counter</h5>
      <h6 class="card-subtitle" [ngSwitch]="isGameOver()">
          <span *ngSwitchCase="true">Congrats! We have a winner! You can rematch or start a new game.</span>
          <span *ngSwitchDefault>Players need to reach {{needToWin}} points to win. Click the "Plus" button to add points to player score.</span>
      </h6>
      <div class="mt-3">
          <table class="table text-center">
              <tr>
                  <th>Player Name</th>
                  <th>Score</th>
                  <th>Up to win</th>
                  <th *ngIf="!isGameOver()">Add</th>
              </tr>
              <tr *ngFor="let player of players" [ngClass]="winnerClass(player)">
                  <td><h5></h5></td>
                  <td>{{player.score}}</td>
                  <td>{{upToWin(player)}}</td>
                  <td *ngIf="!isGameOver()">
                      <a routerLink="/add/${player.id}" class="btn btn-light">
                          <i class="fas fa-plus"></i>
                      </a>
                  </td>
              </tr>
          </table>
          <div class="row">
              <div class="col">
                  <button class="btn btn-primary w-100" (click)="rematch(isGameOver)">Rematch</button>
              </div>
              <div class="col">
                  <button class="btn btn-secondary w-100" (click)="newGame()">New game</button>
              </div>
          </div>
      </div>
  </div>
  <app-modal #rematchModal message="It will erase score for all players. Continue?" (yes)="rematch(true)"></app-modal>
  <app-modal #newGameModal message="It will erase all the data. Continue?" (yes)="newGame(true)"></app-modal>
  <!-- <div class="modal fade" id="rematchModal" tabindex="-1" role="dialog" aria-labelledby="rematchModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="rematchModalTitle">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  It will erase score for all players. Continue?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" (click)="rematch(true)">Yes</button>
              </div>
          </div>
      </div>
  </div>
  <div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="newGameTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="newGameTitle">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  It will erase all the data. Continue?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-primary" (click)="newGame(true)">Yes</button>
              </div>
          </div>
      </div>
  </div>
</div> -->
