.blue {
  color: #fff;
  background-color: #007bff;
}

.indigo {
  color: #fff;
  background-color: #6610f2;
}

.purple {
  color: #fff;
  background-color: #6f42c1;
}

.pink {
  color: #fff;
  background-color: #e83e8c;
}

.red {
  color: #fff;
  background-color: #dc3545;
}

.orange {
  color: #212529;
  background-color: #fd7e14;
}

.yellow {
  color: #212529;
  background-color: #ffc107;
}

.green {
  color: #fff;
  background-color: #28a745;
}

.teal {
  color: #fff;
  background-color: #20c997;
}

.cyan {
  color: #fff;
  background-color: #17a2b8;
}
